# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Output directory
*/out

# Go workspace file
go.work

# tmp directory
tmp

# IDE files
.idea
